/* SETTINGS */
@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background: #fff;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #203253;
}
body.overflow_hidden {
  overflow: hidden;
}

.container {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1280px;
}

.wrapper {
  overflow: hidden;
}
section {
  margin-bottom: 60px;
}

.big_title {
  font-weight: 700;
  font-size: 51px;
  line-height: 60px;
  color: #203253;
  margin-bottom: 15px;
}

.medium_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #203253;
  margin-bottom: 20px;
}

.section_texts {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_texts .medium_title {
  flex: 0 0 auto;
  width: calc(50% - 10px);
}

.section_texts .description {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #335d93;
  flex: 0 0 auto;
  width: calc(50% - 10px);
}

main {
  margin-top: 112px;
}

.fixed {
  height: auto;
}
.fixed .header_row {
  padding: 12px 0;
}

/* END SETTINGS */

/* MAIN PAGE */
/* HEADER */
header {
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: 100;
  right: 0;
  width: 100%;
  height: 112px;
  background-color: #fff;
}
header .header_row {
  margin: 0 auto;
  max-width: 1280px;
  background-color: #fff;
  transition: 0.3s all ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 32px 0;
}
header .header_row .header_menu {
  display: flex;
  align-items: center;
  list-style: none;
}
header .header_menu li {
  margin-right: 68px;
}
header .header_menu li a {
  text-decoration: none;
  text-align: center;
  color: #203253;
  transition: 0.3s all ease;
}
header .header_menu li a:hover {
  background: transparent;
  color: #72b3ea;
}
header .header_menu li:last-child {
  margin-right: 0;
}

header .header_row .hamburger {
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 3;
}
header .hamburger .hamburger_icon {
  display: flex;
  transition: 0.3s all ease;
}
header .hamburger .close_hamburger {
  opacity: 0;
  height: 0;
  transition: 0.3s all ease;
}

header .hamburger.active .close_hamburger {
  opacity: 1;
  height: auto;
}
header .hamburger.active .hamburger_icon {
  opacity: 0;
  height: 0;
}
header .hamburger_menu {
  width: 100%;
  height: 100%;
  transition: 0.3s all ease;
  opacity: 0;
  top: 0;
  visibility: hidden;
  position: fixed;
  right: -100%;
  background-color: #fff;
  z-index: 2;
}
header .hamburger_menu .menu_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header .hamburger_menu .menu_list li {
  margin-bottom: 55px;
  list-style: none;
}
header .hamburger_menu .menu_list li a {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #203253;
  transition: 0.3s all ease;
  padding: 15px 46px;
}
header .hamburger_menu .menu_list li a:hover {
  color: #72b3ea;
  background: #f4faff;
  border-radius: 8px;
}
header .hamburger_menu .menu_list li:last-child {
  margin-bottom: 0;
}
header .hamburger_menu.active {
  visibility: visible;
  opacity: 1;
  right: 0;
}
header .header_row .logo {
  display: flex;
}

/* SECTION ORDER */
.order {
  margin-bottom: 71px;
  background: #b1ddff;
  border-radius: 36px;
}
.order .order_row {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.order .order_image {
  margin-right: 26px;
  display: flex;
  justify-content: center;
}
.order .order_image img {
  object-fit: cover;
  object-position: center;
}
.order .order_item {
  padding: 53px 0 69px 71px;
}
.order .advantage {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #335d93;
  margin-bottom: 33px;
}
.order .advantage .description {
  margin-bottom: 10px;
}
.order .advantage .advantage_list {
  display: flex;
  justify-content: flex-start;
}
.order .advantage .advantage_list .advantages_item {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}
.order .advantage .advantage_list .advantages_item:last-child {
  margin-right: 0;
}
.order .advantage .advantage_list span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.order .advantage .advantage_list span:last-child {
  margin-bottom: 0;
}
.order .advantage .advantage_list span img {
  margin-right: 10px;
}
.order form {
  display: flex;
  flex-direction: column;
}
.order form input,
.order form textarea {
  margin-bottom: 10px;
  font-family: "Raleway";
  overflow: hidden;
  height: 50px;
  background: #ffffff;
  border-radius: 16px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  padding-left: 20px;
  color: #203253;
}
.order form input::placeholder,
.order form textarea::placeholder {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #929daf;
}
.order form input[type="tel"],
.order form textarea[type="tel"] {
  background-image: url(../images/index/phone_icon.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 23px);
}
.order form textarea {
  resize: none;
  padding: 16px 16px 0 20px;
  height: auto;
}
.order form button {
  font-family: "Raleway";
  font-style: normal;
  background: #203253;
  border-radius: 16px;
  padding: 18px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  transition: 0.3s all ease;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}
.order form button:hover {
  background: #72b3ea;
}
.order form button br {
  display: none;
}
.order form button.disabled {
  cursor: not-allowed;
  background: #72b3ea;
}

/* SECTION ADVANTAGES */
.advantages .section_texts {
  margin-bottom: 40px;
  flex-direction: column;
  align-items: flex-start;
}
.advantages .section_texts .medium_title {
  margin-bottom: 10px;
}
.advantages .slide_row {
  display: flex;
  flex-direction: column;
}
.advantages .slide_item {
  margin-bottom: 20px;
  height: 180px;
  display: flex;
  flex-direction: column;
  background: #f4faff;
  border-radius: 24px;
  padding: 30px 32px 28px 35px;
}
.advantages .slide_item .slide_image {
  margin-bottom: 10px;
  display: flex;
}
.advantages .slide_item .slide_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #203253;
}
.advantages .slide_item:last-child {
  margin-bottom: 0;
}
.advantages .advantages_pagination {
  display: none;
}
.advantages .advantages_list {
  display: flex;
  width: 60%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 15px 0;
  position: relative;
  overflow: hidden;
}
.advantages .advantages_list .ship_advantage {
  width: 32px;
  height: 32px;
  bottom: 7px;
  position: absolute;
  left: 0;
  z-index: 4;
  background-color: #fff;
  transition: 0.6s all ease;
}
.advantages .advantages_list_item {
  flex: 0 0 auto;
  width: calc(25% - 3px);
  height: 10px;
  position: relative;
  list-style: none;
}
.advantages .advantages_list_item::before {
  content: "";
  padding: 0;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #72b3ea;
  position: absolute;
  z-index: 1;
  transition: 0.7s all ease;
}
.advantages .advantages_list_item::after {
  content: "";
  border: none;
  border-top: 1.5px solid #72b3ea;
  top: 5px;
  width: 100%;
  position: absolute;
  z-index: 0;
  right: 100%;
  transition: 0.7s all ease;
}
.advantages .advantages_list_item.active::before {
  background: #203253;
}
.advantages .advantages_list_item.active::after {
  border-color: #203253;
}

/* SECTION CASES */
.cases .section_texts {
  margin-bottom: 67px;
}
.cases .section_texts .medium_title {
  margin-bottom: 0;
}
.cases .cases_row {
  display: flex;
  align-items: stretch;
  background: #f4faff;
  border-radius: 24px;
  justify-content: space-between;
}
.cases .cases_row .row_image {
  flex: 0 0 auto;
  display: flex;
  width: calc(50% - 22px);
}
.cases .cases_row .row_image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 0px 24px 24px 0px;
}

.cases .cases_row .row_item {
  display: flex;
  flex-direction: column;
  padding: 50px 0 41px 36px;
  flex: 0 0 auto;
  width: calc(50% - 22px);
}
.cases .cases_row .row_item .case_example,
.cases .cases_row .row_item .medium_title,
.cases .cases_row .row_item .case_description,
.cases .cases_row .row_item .case_details {
  margin-bottom: 30px;
}
.cases .cases_row .row_item .medium_title {
  font-size: 36px;
  line-height: 42px;
}
.cases .cases_row .case_example {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  padding: 12px 32px;
  background: #e6f1fa;
  border-radius: 8px;
  width: fit-content;
}
.cases .cases_row .case_details {
  display: flex;
  align-items: center;
}
.cases .cases_row .case_details .details_item {
  display: flex;
  margin-right: 60px;
  flex-direction: column;
}
.cases .cases_row .case_details .details_item:last-child {
  margin-right: 0;
}
.cases .cases_row .case_details .details_item .title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #335d93;
}
.cases .cases_row .case_details .details_item .description {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
}
.cases .cases_row .case_details .details_item .description img {
  margin-right: 5px;
}
.cases .cases_row .case_description {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #335d93;
}
.cases .cases_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 15px 0;
  position: relative;
  overflow: hidden;
  width: 40%;
  margin: 0 auto;
}
.cases .cases_list .images {
  bottom: 5px;
  position: absolute;
  left: 0;
  z-index: 4;
  background-color: #fff;
  transition: 0.6s all ease;
}
.cases .cases_list .images .ship {
  display: flex;
  width: 44px;
  height: 44px;
}
.cases .cases_list_item {
  flex: 0 0 auto;
  width: calc(25% - 4px);
  height: 16px;
  position: relative;
  list-style: none;
}
.cases .cases_list_item::before {
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #72b3ea;
  position: absolute;
  z-index: 1;
  transition: 0.7s all ease;
}
.cases .cases_list_item::after {
  content: "";
  border: none;
  border-top: 1.5px solid #72b3ea;
  width: 100%;
  position: absolute;
  top: 8px;
  z-index: 0;
  right: 100%;
  transition: 0.7s all ease;
}
.cases .cases_list_item.active::before {
  background: #203253;
}
.cases .cases_list_item.active::after {
  border-color: #203253;
}
.cases .case_action {
  display: flex;
  width: fit-content;
}
.cases .case_action .order_btn {
  padding: 18px 62px;
  width: fit-content;
  background: #203253;
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  transition: 0.3s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cases .case_action .order_btn:hover {
  background: #72b3ea;
}

/* DELIVERY */
.delivery .section_texts .medium_title {
  margin-bottom: 0;
}
.delivery .delivery_item {
  display: flex;
  flex-direction: column;
  background: #f4faff;
  border-radius: 32px;
  padding: 48px 42px 48px 38px;
}
.delivery .delivery_image {
  margin-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #72b3ea;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
.delivery .delivery_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #203253;
  margin-bottom: 20px;
}
.delivery .delivery_texts {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.delivery .delivery_texts .days {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #335d93;
}
.delivery .delivery_texts .price {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #203253;
}
.delivery .delivery_pagination {
  display: none;
}
.delivery .delivery_action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delivery .delivery_action span {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: #fff;
  width: 100%;
  padding: 18px 0;
  background: #203253;
  border-radius: 16px;
  transition: 0.3s all ease;
}
.delivery .delivery_action span:hover {
  background-color: #72b3ea;
}
.delivery .delivery_list {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 15px 0;
  position: relative;
  overflow: hidden;
}
.delivery .delivery_list .car {
  width: 32px;
  height: 32px;
  bottom: 7px;
  position: absolute;
  left: 0;
  z-index: 4;
  background-color: #fff;
  transition: 0.6s all ease;
}
.delivery .delivery_list_item {
  flex: 0 0 auto;
  width: calc(33% - 4px);
  height: 10px;
  position: relative;
  list-style: none;
}
.delivery .delivery_list_item::before {
  content: "";
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #72b3ea;
  position: absolute;
  z-index: 1;
  transition: 0.7s all ease;
}
.delivery .delivery_list_item::after {
  content: "";
  border: none;
  border-top: 1.5px solid #72b3ea;
  width: 100%;
  position: absolute;
  top: 5px;
  z-index: 0;
  right: 100%;
  transition: 0.7s all ease;
}
.delivery .delivery_list_item.active::before {
  background: #203253;
}
.delivery .delivery_list_item.active::after {
  border-color: #203253;
}
/* TESTIMONIALS */
.testimonials .section_texts .medium_title {
  margin-bottom: 0;
}
.testimonials .testimonials_item {
  background: #f4faff;
  border-radius: 24px;
  padding: 50px 39px 50px 36px;
}
.testimonials .testimonials_item .testimonials_header {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #203253;
  margin-bottom: 30px;
}
.testimonials .testimonials_item .testimonials_header .title {
  margin-right: 30px;
}
.testimonials .testimonials_item .testimonials_header .rating {
  display: flex;
}
.testimonials .testimonials_item .testimonials_body {
  line-height: 140%;
  color: #335d93;
  margin-bottom: 40px;
}
.testimonials .testimonials_item .testimonials_footer {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #203253;
}
.testimonials .testimonials_item .testimonials_footer .avatar {
  margin-right: 20px;
  display: flex;
}
.testimonials .testimonials_pagination {
  display: none;
}
.testimonials .testimonials_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 10px 0;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 60%;
}
.testimonials .testimonials_list .image {
  width: 32px;
  height: 32px;
  bottom: 2px;
  position: absolute;
  left: 0;
  z-index: 4;
  background-color: #fff;
  transition: 0.6s all ease;
}
.testimonials .testimonials_list_item {
  flex: 0 0 auto;
  width: calc(25% - 4px);
  height: 10px;
  position: relative;
  list-style: none;
}
.testimonials .testimonials_list_item::before {
  content: "";
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #72b3ea;
  position: absolute;
  z-index: 1;
  transition: 0.7s all ease;
}
.testimonials .testimonials_list_item::after {
  content: "";
  border: none;
  border-top: 1.5px solid #72b3ea;
  width: 100%;
  position: absolute;
  top: 5px;
  z-index: 0;
  right: 100%;
  transition: 0.7s all ease;
}
.testimonials .testimonials_list_item.active::before {
  background: #203253;
}
.testimonials .testimonials_list_item.active::after {
  border-color: #203253;
}

/* CALL BACK FORM */
.call_back_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.call_back_row .form_row {
  flex: 0 0 auto;
  width: calc(51% - 22px);
  background: #f4faff;
  border-radius: 24px;
  padding: 50px 39px 40px 36px;
}
.call_back_row .form_row form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.call_back_row .form_row input,
.call_back_row .form_row button,
.call_back_row .form_row textarea {
  background: #e6f1fa;
  border-radius: 12px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #203253;
  outline: none;
  border: none;
  height: 50px;
  font-feature-settings: "pnum" on, "lnum" on;
}
.call_back_row .form_row input,
.call_back_row .form_row textarea {
  margin-bottom: 20px;
  border: 2px solid transparent;
  transition: 0.3s all ease;
}
.call_back_row .form_row input::placeholder,
.call_back_row .form_row textarea::placeholder {
  transition: 0.3s all ease;
  color: #203253;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
}
.call_back_row .form_row input:hover,
.call_back_row .form_row textarea:hover {
  border: 2px solid #72b3ea;
  border-radius: 16px;
}
.call_back_row .form_row input:hover::placeholder,
.call_back_row .form_row textarea:hover::placeholder {
  color: #72b3ea;
}
.call_back_row .form_row textarea {
  padding: 16px 0 0 23px;
  resize: none;
}
.call_back_row .form_row input {
  padding-left: 23px;
  font-weight: 500;
}
.call_back_row .form_row input:nth-child(2) {
  background-image: url(../images/index/form_img.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 24px);
}
.call_back_row .form_row input:nth-child(3) {
  background-image: url(../images/index/phone_icon_form.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 24px);
}
.call_back_row .form_row input:nth-child(4) {
  background-image: url(../images/index/message_icon.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 24px);
}
.call_back_row .form_row button {
  font-weight: 600;
  background: #203253;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all ease;
}
.call_back_row .form_row button:hover {
  background: #72b3ea;
}
.call_back_row .form_row button.disabled {
  cursor: not-allowed;
  background: #72b3ea;
}
.call_back_row .form_row button br {
  display: none;
}
.call_back_row .form_row .terms_of_use {
  line-height: 140%;
  color: #335d93;
}
.call_back_row .form_row .terms_of_use a {
  color: #335d93;
}
.call_back_row .call_back_item {
  flex: 0 0 auto;
  width: calc(49% - 22px);
}
.call_back_row .call_back_item .section_texts {
  flex-direction: column;
  align-items: flex-start;
}
.call_back_row .call_back_item .section_texts .medium_title {
  width: 100%;
}
.call_back_row .call_back_item .section_texts .description {
  width: 100%;
  max-width: 90%;
}
.call_back_row .call_back_item .call_back_actions {
  display: flex;
  flex-direction: column;
}
.call_back_row .call_back_item .action_item {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.call_back_row .call_back_item .action_item:last-child {
  margin-bottom: 0;
}
.call_back_row .call_back_item .action_item img {
  margin-right: 30px;
}
.call_back_row .call_back_item .action_row .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-feature-settings: "ss09" on;
  margin-bottom: 10px;
}
.call_back_row .call_back_item .action_row a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #335d93;
}

/* MODAL */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: linear-gradient(
    0deg,
    rgba(32, 50, 83, 0.2),
    rgba(32, 50, 83, 0.2)
  );
  transition: 0.3s all ease;
  visibility: hidden;
  opacity: 0;
}
.modal .modal_row {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  background: #f4faff;
  border-radius: 24px;
  padding: 60px 65px;
}

.modal .modal_header {
  position: relative;
}
.modal .modal_header .medium_title {
  margin-bottom: 0;
}

.modal .modal_header .close_btn {
  display: flex;
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
}
.modal .modal_header .close_btn svg path {
  transition: 0.3s all ease;
}
.modal .modal_header .close_btn:hover svg path {
  fill: #72b3ea;
}

.modal form {
  margin: 60px 0 38px 0;
  display: flex;
  flex-direction: column;
}
.modal input,
.modal button,
.modal textarea {
  background: #e6f1fa;
  border-radius: 12px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #203253;
  outline: none;
  border: none;
  height: 50px;
  font-feature-settings: "pnum" on, "lnum" on;
}

.modal input,
.modal textarea {
  margin-bottom: 20px;
  border: 2px solid transparent;
  transition: 0.3s all ease;
}
.modal input::placeholder,
.modal textarea::placeholder {
  transition: 0.3s all ease;
  color: #203253;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;
}

.modal input:hover,
.modal textarea:hover {
  border: 2px solid #72b3ea;
  border-radius: 16px;
}
.modal input:hover::placeholder,
.modal textarea:hover::placeholder {
  color: #72b3ea;
}
.modal textarea {
  padding: 16px 0 0 23px;
  resize: none;
}
.modal input {
  padding-left: 23px;
  font-weight: 500;
}
.modal input:nth-child(2) {
  background-image: url(../images/index/form_img.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 24px);
}

.modal input:nth-child(3) {
  background-image: url(../images/index/phone_icon_form.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 24px);
}

.modal input:nth-child(4) {
  background-image: url(../images/index/message_icon.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 24px);
}

.modal button {
  font-weight: 600;
  background: #203253;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all ease;
}
.modal button:hover {
  background: #72b3ea;
}
.modal button.disabled {
  cursor: not-allowed;
  background: #72b3ea;
}
.modal button br {
  display: none;
}

.modal .terms_of_use {
  line-height: 140%;
  color: #335d93;
}
.modal .terms_of_use a {
  color: #335d93;
}

.modal.active {
  visibility: visible;
  opacity: 1;
}

/* FOOTER */
footer {
  background: #203253;
}
footer a {
  display: flex;
}
footer .footer_row {
  padding: 48px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .logos .kapro_logo {
  margin-bottom: 40px;
}
footer nav .footer_menu {
  display: flex;
  align-items: center;
  list-style: none;
}
footer nav .footer_menu li {
  margin-right: 85px;
}
footer nav .footer_menu li:last-child {
  margin: 0;
}
footer nav a {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s all ease;
}
footer nav a:hover {
  background: transparent;
  color: #72b3ea;
}
footer .footer_actions {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .footer_actions .social_links {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
footer .social_links a:first-child {
  margin-right: 40px;
}
footer .social_links a svg path {
  transition: 0.3s all ease;
}
footer .social_links a:hover svg path {
  fill: #72b3ea;
}
footer .footer_actions .qr_code {
  user-select: none;
}

/* END MAIN PAGE */

/* PAGE FAQ */
.faq {
  padding-top: 50px;
  margin-bottom: 90px;
}
.faq .faq_row {
  display: flex;
  flex-direction: column;
}
.faq .faq_texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 52px;
}
.faq .faq_texts .faq_title {
  width: 50%;
}
.faq .faq_texts .faq_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #335d93;
  max-width: 50%;
}
.faq .accordion_wrapper {
  background: #f4faff;
  border-radius: 24px;
  padding: 60px 45px;
}
.faq .accordion_item .accordion_title {
  transition: 0.3s all ease;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #203253;
  position: relative;
  padding-right: 30px;
}
.faq .accordion_item .accordion_title img {
  position: absolute;
  transition: 0.3s all ease;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: inherit;
}
.faq .accordion_item .accordion_content_wrapper {
  display: none;
}
.faq .accordion_item .accordion_content {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  max-width: 95%;
  padding: 60px 0;
}
.faq .accordion_item:hover .accordion_title {
  background: radial-gradient(
    39.29% 9701.17% at 50% 50%,
    rgba(235, 240, 244, 0.5) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}
.faq .accordion_item.active .accordion_title {
  background: radial-gradient(
    39.29% 9701.17% at 50% 50%,
    rgba(235, 240, 244, 0.5) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}
.faq .accordion_item.active .accordion_title img {
  transform: rotate(180deg);
}
.faq .accordion_item.active .accordion_content_wrapper {
  display: block;
}

/* PAGE MANAGER */
.manager_info {
  margin-bottom: 40px;
  padding-top: 35px;
}
.manager_info .manager_row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.manager_info .manager_image {
  width: calc(33% - 10px);
  background: #b1ddff;
  border-radius: 24px;
  display: flex;
  justify-content: center;
}
.manager_info .manager_image .image {
  width: 100%;
  display: flex;
  border-radius: 24px;
  overflow: hidden;
}
.manager_info .manager_image .image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.manager_info .manager_item {
  padding: 52px 108px 70px 72px;
  width: calc(67% - 10px);
  background: #f4faff;
  border-radius: 24px;
  display: flex;
  align-items: center;
}
.manager_info .manager_item .manager_description {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #335d93;
}
.manager_info .manager_item .manager_description span:nth-child(1) {
  margin-bottom: 20px;
}
.information .information_row {
  display: flex;
  flex-direction: column;
}
.information .information_block,
.information .information_subblock {
  padding-left: 72px;
  display: flex;
  flex-direction: column;
  max-width: 55%;
  margin-bottom: 90px;
}
.information .information_block .block_description,
.information .information_subblock .block_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #335d93;
}
.information .information_block .block_description span,
.information .information_subblock .block_description span {
  display: block;
  margin-bottom: 20px;
}
.information .information_block .block_description span:last-child,
.information .information_subblock .block_description span:last-child {
  margin-bottom: 0;
}
.information .information_block .medium_title {
  margin-bottom: 30px;
}
.information .information_subblock .block_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #203253;
  margin-bottom: 20px;
}
.information .information_testimonial {
  position: relative;
}
.information .information_testimonial span {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #335d93;
  padding: 110px 122px;
  max-width: 65%;
  background: #f4faff;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  position: relative;
}
.information .information_testimonial span::after {
  content: "”";
  display: block;
  position: absolute;
  top: 160px;
  right: 55px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 220px;
  line-height: 140%;
  color: #203253;
}
.information .information_testimonial::before {
  content: "“";
  display: block;
  position: absolute;
  top: -20px;
  left: 50px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 220px;
  z-index: 1;
  line-height: 140%;
  color: #203253;
}

/* PAGE CONTACTS */
.contacts {
  padding-top: 50px;
  margin-bottom: 90px;
}
.contacts .contacts_row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.contacts .contacts_right_item {
  width: calc(50% - 10px);
}
.contacts .contacts_right_item .images {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contacts .contacts_right_item .images img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 24px;
}
.contacts .contacts_right_item .images img:nth-child(1) {
  margin-bottom: 20px;
}

.contacts .contacts_left_item {
  width: calc(50% - 10px);
  background: #f4faff;
  border-radius: 24px;
}
.contacts .contacts_left_item .left_item_row {
  padding: 63px 110px 60px 72px;
  display: flex;
  flex-direction: column;
}
.contacts .texts {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.contacts .texts .big_title {
  margin-bottom: 20px;
}
.contacts .texts .description {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #335d93;
}
.contacts .contacts_block {
  display: flex;
  flex-direction: column;
}
.contacts .contacts_block .block_item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contacts .contacts_block .block_item:last-child {
  margin-bottom: 60px;
}
.contacts .contacts_block .block_item img {
  width: inherit;
  height: inherit;
}
.contacts .contacts_block .block_action {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.contacts .contacts_block .block_action .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-feature-settings: "ss09" on;
  color: #203253;
  margin-bottom: 10px;
}
.contacts .contacts_block .block_action a {
  display: flex;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #335d93;
  transition: 0.3s all ease;
}
.contacts .contacts_block .block_action a:hover {
  background: transparent;
  color: #72b3ea;
}
.contacts .actions {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
}
.contacts .actions .more_button,
.contacts .actions a {
  max-width: 194px;
  justify-content: center;
  display: flex;
  background: #203253;
  border-radius: 16px;
  padding: 22px 0;
  width: calc(50% - 10px);
  transition: 0.3s all ease;
  cursor: pointer;
}
.contacts .actions .more_button {
  margin-right: 20px;
}
.contacts .actions .more_button:hover {
  background: #72b3ea;
  border-color: transparent;
}

.contacts .actions .location_button {
  text-decoration: none;
  background: #e6f1fa;
  color: #203253;
}
.contacts .actions .location_button:hover {
  background: #72b3ea;
  color: #fff;
}

/* MEDIA QUERIES */

@media (max-width: 1350px) {
  /* SETTINGS */
  .container {
    max-width: 1170px;
  }
  /* HEADER */
  header .header_row {
    max-width: 1170px;
  }

  /* SECTION ADVANTAGES */
  .advantages .slide_item {
    padding: 30px 20px 28px 35px;
  }
  /* SECTION CASES */
  .cases .cases_row .row_item .medium_title {
    font-size: 34px;
  }

  .cases .case_action .order_btn {
    padding: 18px 88px;
  }

  /* SECTION DELIVERY */
  .delivery .delivery_item {
    padding: 50px 25px;
  }

  /* MODAL */
  .modal .modal_row {
    padding: 40px;
  }
  .modal form {
    margin: 25px 0;
  }
  /* FOOTER */
  footer nav .footer_menu li {
    margin-right: 68px;
  }
  /* PAGE MANAGER */
  .manager_info .manager_texts .manager_description {
    max-width: 100%;
  }
  .manager_info .manager_item {
    padding: 45px;
  }

  /* PAGE CONTACTS */
  .contacts .contacts_left_item .left_item_row {
    padding: 63px 60px 60px 72px;
  }
}
@media (max-width: 1240px) {
  /* SETTINGS */
  .container {
    max-width: 1024px;
    padding: 0 20px;
  }

  .big_title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px;
  }

  .medium_title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px;
  }

  .section_texts .description {
    font-size: 16px;
  }

  .section_texts {
    margin-bottom: 40px;
  }

  main {
    margin-top: 112px;
  }

  .fixed .header_row {
    padding: 12px 20px;
  }

  /* HEADER */
  header .header_menu li {
    margin-right: 50px;
  }

  header .header_row {
    max-width: 1024px;
    padding: 24px 20px 32px 20px;
  }

  header {
    height: 96px;
  }

  /* SECTION ORDER */
  .order .order_image img {
    width: 100%;
  }

  .order .order_item {
    padding: 40px 0 40px 40px;
    width: 50%;
  }

  .order .order_image {
    margin-right: 15px;
  }

  .order .big_title {
    font-size: 48px;
    white-space: nowrap;
  }

  .order form textarea {
    padding: 13px 20px 13px 20px;
    height: 50px;
  }

  .order {
    margin-bottom: 60px;
  }

  /* SECTION ADVANTAGES */
  .advantages .advantages_list {
    display: none;
  }

  /* SECTION CASES */
  .cases .cases_row .row_item .medium_title {
    font-size: 30px;
  }

  .cases .cases_row .row_image {
    width: calc(50% - 12px);
  }

  .cases .cases_row .row_item {
    width: calc(50% - 12px);
    padding: 30px 0 30px 30px;
  }

  .cases .cases_row .case_details .details_item .description {
    font-size: 20px;
  }

  .cases .cases_row .case_details .details_item {
    margin-right: 30px;
  }

  .cases .cases_row .case_description {
    font-size: 16px;
  }

  .cases .cases_list {
    padding: 50px 0 15px 0;
  }


  /* TESTIMONIALS */
  .testimonials .testimonials_list {
    display: none;
  }
  /* CALL BACK FORM */
  .call_back_row .form_row textarea {
    padding: 13px 20px 13px 20px;
    height: 76px;
  }

  .call_back_row .form_row {
    width: calc(51% - 15px);
    padding: 40px 30px 40px 30px;
  }

  .call_back_row .call_back_item .section_texts .medium_title {
    font-size: 35px;
  }

  .call_back_row .call_back_item {
    width: calc(49% - 15px);
  }

  /* MODAL */
  .modal form {
    margin: 20px 0;
  }
  .modal textarea {
    padding: 13px 20px 13px 20px;
    height: 50px;
  }
  .modal input,
  .modal textarea {
    margin-bottom: 10px;
  }
  /* FOOTER */
  footer nav .footer_menu li {
    margin-right: 25px;
  }

  /* PAGE FAQ */
  .faq .faq_texts .faq_title {
    max-width: 50%;
  }
  .faq .faq_texts {
    padding: 0;
  }
  .faq .accordion_item .accordion_content {
    padding: 40px 0;
    max-width: 100%;
  }
  .faq .accordion_wrapper {
    padding: 50px 30px;
  }
  .faq {
    padding-top: 30px;
    margin-bottom: 60px;
  }

  /* PAGE MANAGER */
  .manager_info .manager_item {
    padding: 30px;
  }
  .information .information_block,
  .information .information_subblock {
    max-width: 100%;
    margin-bottom: 60px;
    padding-left: 0;
  }
  .information .information_testimonial span {
    max-width: 100%;
  }

  /* PAGE CONTACTS */
  .contacts {
    padding-top: 30px;
    margin-bottom: 60px;
  }
  .contacts .contacts_left_item .left_item_row {
    padding: 40px;
  }
}
@media (max-width: 1025px) {
  /* SETTINGS */
  .container {
    max-width: 744px;
  }

  .section_texts .medium_title {
    width: 100%;
  }

  .section_texts .description {
    width: 100%;
  }

  .section_texts {
    margin-bottom: 25px;
    flex-direction: column;
  }

  main {
    margin-top: 76px;
  }

  .fixed .header_row {
    padding: 10px 20px;
  }

  /* HEADER */
  header .header_row nav {
    display: none;
  }

  header .header_row .hamburger {
    display: flex;
    width: 24px;
    height: 20px;
    justify-content: center;
  }

  header .header_row {
    max-width: 744px;
    padding: 10px 20px;
  }

  header {
    height: 76px;
  }

  /* SECTION ORDER */
  .order .order_row {
    flex-direction: column;
    padding: 30px;
  }

  .order .big_title br {
    display: block;
  }

  .order .big_title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px;
    max-width: 80%;
  }

  .order .order_image {
    width: 100%;
    margin-right: 0;
    margin-bottom: -30px;
  }

  .order .order_image img {
    width: 440px;
  }

  .order .order_item {
    width: 100%;
    padding: 0;
  }

  .order .advantage .advantage_list .advantages_item {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .order .advantage .advantage_list .advantages_item:last-child {
    margin-bottom: 0;
  }

  .order .advantage .advantage_list {
    flex-direction: column;
  }

  .order form input,
  .order form textarea {
    width: 100%;
  }

  /* SECTION ADVANTAGES */
  .advantages .section_texts {
    margin-bottom: 25px;
  }

  .advantages .slide_item .slide_image img {
    width: 72px;
    height: 72px;
  }

  .advantages .slide_item {
    height: 203px;
  }

  .advantages .advantages_pagination {
    display: block;
  }

  /* SECTION CASES */
  .cases .section_texts .medium_title {
    margin-bottom: 10px;
  }

  .cases .section_texts {
    margin-bottom: 25px;
  }

  .cases .cases_row .row_image img {
    border-radius: 0px 0px 24px 24px;
    height: 320px;
  }

  .cases .cases_row .row_image {
    width: 100%;
  }

  .cases .cases_row .row_item {
    width: 100%;
    padding: 28px 20px;
  }

  .cases .cases_row .row_item .medium_title {
    font-size: 24px;
    line-height: 28px;
  }

  .cases .cases_row {
    flex-direction: column;
  }

  .cases .cases_row .case_details .details_item {
    margin-right: 60px;
  }
  .cases .cases_list{
    width: 60%;
  }


  /* SECTION DELIVERY */
  .delivery .delivery_item {
    padding: 50px 20px 28px 20px;
  }

  .delivery .section_texts .medium_title {
    margin-bottom: 10px;
  }

  .delivery .delivery_image {
    width: 72px;
    height: 72px;
    margin-bottom: 10px;
  }

  .delivery .delivery_title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
  }

  .delivery .delivery_action span {
    padding: 12px 0;
  }

  /* TESTIMONIALS */
  .testimonials .section_texts .medium_title {
    margin-bottom: 10px;
  }

  .testimonials .section_texts {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
  }
  .testimonials .section_texts br {
    display: none;
  }

  .testimonials .testimonials_item .testimonials_header {
    font-size: 20px;
  }

  .testimonials .testimonials_item .testimonials_body {
    font-size: 16px;
  }

  .testimonials .testimonials_pagination {
    display: block;
  }

  .testimonials .testimonials_item {
    padding: 20px;
  }

  .testimonials .section_texts br {
    display: block;
  }

  /* CALL BACK FORM */
  .call_back_row .form_row input,
  .call_back_row .form_row textarea {
    margin-bottom: 10px;
  }

  .call_back_row .form_row {
    width: calc(51% - 10px);
    padding: 25px 20px;
  }

  .call_back_row .call_back_item .section_texts .medium_title {
    font-size: 32px;
  }

  .call_back_row .call_back_item .section_texts .description {
    max-width: 100%;
  }

  .call_back_row .call_back_item .section_texts {
    margin-bottom: 50px;
  }

  .call_back_row .call_back_item .action_item img {
    width: 50px;
    height: 50px;
  }

  .call_back_row .call_back_item .action_row .title {
    font-size: 16px;
    line-height: 19px;
  }

  .call_back_row .call_back_item .action_row a {
    font-size: 16px;
    line-height: 19px;
  }

  .call_back_row .call_back_item {
    width: calc(49% - 10px);
  }

  /* MODAL */
  .modal .modal_row {
    max-width: 540px;
  }
  .modal .modal_header .close_btn {
    top: 0;
  }
  .modal textarea {
    height: auto;
  }

  /* FOOTER */
  footer nav .footer_menu li {
    margin-right: 0;
    margin-bottom: 20px;
  }
  footer nav .footer_menu {
    flex-direction: column;
  }

  /* PAGE FAQ */
  .faq .faq_texts .faq_title {
    max-width: 75%;
  }
  .faq .faq_texts .faq_description {
    max-width: 100%;
  }
  .faq .faq_texts {
    margin-bottom: 40px;
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
  }
  .faq .accordion_item .accordion_title img {
    width: 20px;
  }
  .faq .accordion_item .accordion_content {
    padding: 30px 0;
    max-width: 100%;
  }
  /* PAGE MANAGER */
  .manager_info .manager_row {
    flex-direction: column-reverse;
  }
  .manager_info .manager_item .manager_description {
    font-size: 16px;
  }
  .manager_info .manager_image {
    margin-bottom: 20px;
    width: 100%;
  }
  .manager_info .manager_item {
    width: 100%;
  }
  .manager_info .manager_item {
    padding: 25px 30px;
  }
  .manager_info {
    padding-top: 10px;
    margin-bottom: 45px;
  }
  .information .information_block .block_description,
  .information .information_subblock .block_description {
    font-size: 16px;
  }
  .information .information_block .medium_title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .information .information_block,
  .information .information_subblock {
    margin-bottom: 30px;
  }
  .information .information_subblock .block_title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 23px;
  }
  .information .information_testimonial span::after {
    font-size: 164px;
    right: 20px;
    top: 50%;
  }
  .information .information_testimonial span {
    font-size: 16px;
    padding: 80px 50px;
  }
  .information .information_testimonial::before {
    left: 20px;
    font-size: 164px;
  }

  /* PAGE CONTACTS */
  .contacts .contacts_row {
    flex-direction: column;
  }
  .contacts .contacts_left_item {
    width: 100%;
    margin-bottom: 40px;
  }
  .contacts .contacts_right_item {
    width: 100%;
  }
  .contacts .texts .big_title {
    font-size: 36px;
    line-height: 42px;
  }
}
@media (max-width: 768px) {
  /* SETTINGS */
  .container {
    max-width: 540px;
  }

  .medium_title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  main {
    margin-top: 70px;
  }

  /* HEADER */
  header .header_row .hamburger {
    width: 24px;
    height: 17px;
  }
  header .header_row .logo img {
    width: 130px;
    height: 41px;
  }
  header .header_row {
    height: 70px;
    padding: 10px 20px;
    max-width: 540px;
  }
  header {
    height: 70px;
  }

  /* SECTION ORDER */
  .order .order_row {
    padding: 20px;
  }

  .order .big_title {
    max-width: 100%;
    font-size: 26px;
    line-height: 31px;
  }

  .order .order_image img {
    width: 100%;
  }

  .order .order_image {
    margin-bottom: -20px;
  }

  .order .advantage .advantage_list span img {
    width: 14px;
    height: 14px;
  }

  .order .advantage .advantage_list span {
    font-size: 14px;
    line-height: 16px;
  }

  .order .advantage .description {
    font-size: 14px;
  }

  .order form input::placeholder,
  .order form textarea::placeholder {
    font-size: 14px;
    line-height: 16px;
  }

  .order form input,
  .order form textarea {
    font-size: 14px;
    line-height: 16px;
    height: 50px;
  }

  .order form textarea {
    padding: 14px 23px 14px 23px;
    height: 50px;
  }

  .order form button {
    font-size: 16px;
  }

  .order form button {
    font-size: 14px;
    line-height: 16px;
    padding: 17px 0;
  }

  /* SECTION ADVANTAGES */
  .advantages .slide_item {
    padding: 27px 30px 27px 20px;
  }

  .advantages .slide_item .slide_title {
    max-width: 95%;
  }

  /* SECTION CASES */
  .cases .cases_row .row_item .case_example,
  .cases .cases_row .row_item .medium_title,
  .cases .cases_row .row_item .case_description,
  .cases .cases_row .row_item .case_details {
    margin-bottom: 20px;
  }

  .cases .cases_row .case_example {
    font-size: 12px;
    line-height: 14px;
  }

  .cases .cases_row .case_details .details_item .title {
    font-size: 18px;
  }

  .cases .cases_row .case_description {
    font-size: 14px;
  }

  .cases .cases_row .case_details {
    display: none;
  }
  .cases .cases_list{
    width: 60%;
    height: 10px;
  }
  .cases .cases_list .images .ship{
    width: 32px;
    height: 32px;
  }
  .cases .cases_list_item::before {
    width: 10px;
    height: 10px;
  }
  .cases .cases_list_item::after{
    top: 4px;
  }

  .cases .case_action .order_btn {
    font-size: 14px;
    line-height: 16px;
    padding: 12px 0;
    width: 240px;
    max-width: 100%;
  }

  .cases .case_action {
    margin-top: 0;
  }

  /* SECTION DELIVERY */
  .delivery .delivery_texts .days {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  .delivery .delivery_action span {
    max-width: 240px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding: 10px 0;
  }

  .delivery .delivery_action {
    justify-content: flex-start;
  }

  .delivery .delivery_texts .price {
    font-size: 16px;
  }

  /* TESTIMONIALS */
  .testimonials .testimonials_item .testimonials_header .title {
    margin-right: 15px;
  }

  .testimonials .section_texts br {
    display: block;
  }

  .testimonials .testimonials_item .testimonials_header {
    margin-bottom: 10px;
  }

  .testimonials .testimonials_item .testimonials_footer .avatar img {
    width: 32px;
    height: 32px;
  }

  .testimonials .testimonials_item .testimonials_footer {
    font-size: 12px;
    line-height: 14px;
  }

  .testimonials .testimonials_item .testimonials_body {
    margin-bottom: 20px;
    font-size: 14px;
  }

  /* CALL BACK FORM */
  .call_back_row .form_row form {
    margin-bottom: 20px;
  }

  .call_back_row .form_row input,
  .call_back_row .form_row button,
  .call_back_row .form_row textarea {
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .call_back_row .form_row input::placeholder,
  .call_back_row .form_row textarea::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .call_back_row .form_row textarea::placeholder {
    padding-right: 40px;
  }

  .call_back_row .form_row textarea {
    padding: 14px 20px 14px 20px;
  }

  .call_back_row .form_row button br {
    display: none;
  }

  .call_back_row .form_row .terms_of_use {
    font-size: 14px;
    line-height: 16px;
  }

  .call_back_row .form_row {
    width: 100%;
  }

  .call_back_row .call_back_item .section_texts .medium_title {
    max-width: 100%;
    font-size: 24px;
    line-height: 28px;
  }

  .call_back_row .call_back_item .section_texts .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  .call_back_row .call_back_item {
    width: 100%;
    margin-bottom: 25px;
  }

  .call_back_row {
    flex-direction: column-reverse;
  }

  /* MODAL */
  .modal .modal_header .close_btn {
    top: 0;
    width: 20px;
    height: 20px;
  }

  .modal .modal_row {
    max-width: 500px;
    padding: 30px 20px;
  }

  .modal input,
  .modal button,
  .modal textarea {
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .modal input::placeholder,
  .modal textarea::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .modal textarea::placeholder {
    padding-right: 40px;
  }

  .modal textarea {
    padding: 14px 20px 14px 20px;
  }

  .modal button {
    font-size: 16px;
    line-height: 16px;
  }

  .modal .terms_of_use {
    font-size: 14px;
    line-height: 16px;
  }

  /* FOOTER */
  footer nav .footer_menu li {
    margin-bottom: 10px;
  }
  footer .footer_row {
    flex-direction: column;
  }
  footer nav {
    margin: 40px 0;
  }

  /* PAGE FAQ */
  .faq .faq_texts .faq_description {
    font-size: 14px;
    line-height: 140%;
  }
  .faq .accordion_wrapper {
    padding: 30px 20px;
  }
  .faq .accordion_item .accordion_title img {
    width: 15px;
  }
  .faq .accordion_item .accordion_title {
    font-size: 20px;
    line-height: 23px;
    padding: 16px 15px 16px 0;
  }
  .faq .accordion_item .accordion_content {
    font-size: 14px;
  }
  .faq {
    padding-top: 10px;
  }
  /* PAGE MANAGER */
  .manager_info .manager_item .big_title {
    font-size: 36px;
    line-height: 42px;
  }
  /* PAGE CONTACTS */
  .contacts {
    padding-top: 10px;
  }
  .contacts .actions .more_button,
  .contacts .actions a {
    font-size: 14px;
    line-height: 16px;
    padding: 25px 0;
    width: 100%;
    max-width: 320px;
  }
  .contacts .contacts_block .block_action a {
    font-size: 16px;
    line-height: 19px;
  }
  .contacts .contacts_block .block_action .title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
  }
  .contacts .texts .big_title {
    margin-bottom: 10px;
  }
  .contacts .texts .description {
    font-size: 14px;
  }
  .contacts .texts {
    margin-bottom: 40px;
  }
  .contacts .contacts_block .block_item img {
    width: 48px;
    height: 48px;
  }
  .contacts .contacts_block .block_item {
    margin-bottom: 30px;
  }
  .contacts .contacts_block .block_item:last-child {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  /* SETTINGS */

  .container {
    max-width: 100%;
  }

  .big_title {
    font-size: 26px;
    line-height: 31px;
  }

  /* SECTION ORDER */
  .order .advantage {
    margin-bottom: 20px;
  }

  .order form textarea::placeholder {
    padding-right: 44px;
  }

  .order form button {
    padding: 12px 0;
  }

  .order form button br {
    display: block;
  }

  .order form button {
    height: 56px;
  }

  /* SECTION ADVANTAGES */
  .advantages .advantages_list {
    display: flex;
  }

  .advantages .slide_item {
    height: 180px;
  }


  /* SECTION CASES */
  .cases .cases_row .row_image img {
    height: 280px;
  }
  .cases .cases_row .row_item .case_example,
  .cases .cases_row .row_item .medium_title,
  .cases .cases_row .row_item .case_description,
  .cases .cases_row .row_item .case_details {
    margin-bottom: 15px;
  }
  .cases .case_action {
    width: 100%;
  }

  /* SECTION DELIVERY */
  .delivery .delivery_pagination {
    display: block;
  }

  /* TESTIMONIALS */

  .testimonials .testimonials_list {
    display: flex;
  }

  /* CALL BACK FORM */
  .call_back_row .form_row form {
    margin-bottom: 30px;
  }
  .call_back_row .form_row input:nth-child(2) {
    background-size: 12px 12px;
  }
  .call_back_row .form_row input:nth-child(3) {
    background-size: 14px 14px;
  }
  .call_back_row .form_row input:nth-child(4) {
    background-size: 15px 12px;
  }
  .call_back_row .form_row input:nth-child(4)::placeholder {
    padding-right: 100px;
  }
  .call_back_row .form_row button {
    height: auto;
    padding: 22px 0;
    font-size: 14px;
    line-height: 16px;
  }
  .call_back_row .form_row button br {
    display: block;
  }
  /* MODAL */
  .modal .modal_row {
    width: calc(100% - 40px);
  }

  .modal .modal_header .medium_title {
    max-width: 40%;
  }

  .modal .modal_header .close_btn {
    top: 10px;
  }

  .modal input:nth-child(3) {
    background-size: 14px 14px;
  }

  .modal input:nth-child(2) {
    background-size: 12px 12px;
  }

  .modal input:nth-child(4) {
    background-size: 15px 12px;
  }

  .modal input:nth-child(4)::placeholder {
    padding-right: 100px;
  }

  .modal button {
    height: auto;
    padding: 22px 0;
    font-size: 14px;
    line-height: 16px;
  }
  .modal button br {
    display: block;
  }

  /* PAGE MANAGER */
  .manager_info .manager_item .manager_texts .manager_description {
    font-size: 14px;
  }
  .manager_info .manager_item {
    padding: 25px 20px;
  }
  .information .information_block .block_description,
  .information .information_subblock .block_description {
    font-size: 14px;
  }
  .information .information_testimonial span::after {
    top: 72%;
  }
  .information .information_testimonial span {
    font-size: 14px;
    padding: 80px 50px;
  }
  .information .information_testimonial::before {
    left: 10px;
  }
  /* PAGE CONTACTS */
  .contacts .actions .more_button {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .contacts .actions {
    flex-direction: column;
  }
  .contacts .contacts_left_item .left_item_row {
    padding: 25px 20px;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .information .information_testimonial span::after {
    top: 55% !important;
  }
}
@media (min-width: 390px) and (max-width: 500px) {
  .information .information_testimonial span::after {
    top: 65% !important;
  }
}
@media (min-width: 360px) and (max-width: 545px) {
  .call_back_row .form_row textarea {
    height: auto;
  }
  .order form textarea {
    height: auto;
  }
  .modal textarea {
    height: auto;
  }
}
@media (max-width: 360px) {
  .modal textarea {
    height: 76px;
  }
  .call_back_row .form_row textarea {
    height: 76px;
  }
  .order form textarea {
    height: 76px;
  }
}
